:root {
  /* Variables for colors */
  --primary-color: #fef5ea;
  --primary-color-tint: #ffffff;
  --primary-color-shade: #e8d2b7;

  --text-color: #281411;
  --text-color-tint: #351e1a;
  --text-color-shade: #190d0c;

  --secondary-color: #e1a7ac;
  --secondary-color-tint: #edc6c5;
  --secondary-color-shade: #d68893;

  --accent-color: #606ac2;
  --accent-color-tint: #747ed7;
  --accent-color-shade: #343e93;

  /* Variables for spacing */
  --spacing-small: 16px;
  --spacing-medium: 48px;
  --spacing-large: 80px;
}

.dark-mode {
  /* Variables for colors in darkmode*/
  --primary-color: #281411;
  --primary-color-tint: #190d0c;
  --primary-color-shade: #351e1a;

  --text-color: #fef5ea;
  --text-color-tint: #e8d2b7;
  --text-color-shade: #ffffff;

  --secondary-color: #8a2a3b;
  --secondary-color-tint: #601724;
  --secondary-color-shade: #d68893;

  --accent-color: #838ce0;
  --accent-color-tint: #6670ce;
  --accent-color-shade: #a0a6e5;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "europa", sans-serif;
  color: var(--text-color);
}

/* Darkmode styling */
.dark-mode-only {
  display: none;
}

.dark-mode .dark-mode-only {
  display: block;
}

.dark-mode .dark-mode-hide {
  display: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* general styling for body and main */
body {
  background-color: var(--primary-color);
  padding: var(--spacing-small);
}

main {
  max-width: 1100px;
  margin: auto;
}

/* general font styling for desktop*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  font-weight: normal;
  margin-bottom: var(--spacing-small);
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: calc(var(--spacing-small) * 2);
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4,
summary {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}
p,
li,
a {
  font-size: 1rem;
}
