:root {
    /* Variables for colors */
    --primary-color: #FEF5EA;
    --primary-color-tint: #ffffff;
    --primary-color-shade: #E8D2B7;

    --text-color: #281411;
    --text-color-tint: #351E1A;
    --text-color-shade: #190D0C;

    --secondary-color: #E1A7AC;
    --secondary-color-tint: #EDC6C5;
    --secondary-color-shade: #D68893;

    --accent-color: #6670CE;
    --accent-color-tint: #838CE0;
    --accent-color-shade: #4650A6;
}