@media (min-width: 769px) {
    /* General classnames */
.pc-only {
    display: block;
}

.pc-hide {
    display: none;
}

/* For flex, grid and spacing */
.pc-flex-col {
    display: flex;
    flex-direction: column;
}

.pc-flex-row {
    display: flex;
    flex-direction: row;
}

.pc-flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.pc-flex-center {
    justify-content: center;
    align-items: center;
}
}