/* General classnames */
.pc-only {
    display: none;
}

.pc-hide {
    display: block;
}

/* Styling for flex and grid */
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex1 {
    flex: 1;
}

/* Styling for gap and spacing */
.gap-s {
    gap: var(--spacing-small);
}

.gap-m {
    gap: var(--spacing-medium);
}

.gap-l {
    gap: var(--spacing-large);
}

.mb-s {
    margin-bottom: var(--spacing-small);
}

.mb-m {
    margin-bottom: var(--spacing-medium);
}

.mb-l {
    margin-bottom: var(--spacing-large);
}

.unstyled-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.bold {
    font-weight: 700;
}