---
import Mainlayout from "../layouts/Mainlayout.astro";
import Timeline from "../components/Timeline.astro";
---

<Mainlayout>
  <main>
    <div class="mb-l">
      <h1>Om os</h1>
      <p>
        <span>Flid</span>
        er et kunst- og designplatform, hvor det skandinaviske kreative vækstlag
        viser deres kunst, design og kunsthåndværk frem. På markedet får interesserede
        gæster muligheden for at møde skabende kunstnere, designere og kunsthåndværkere
        i uformelle omgivelser, hvor man kan erhverve sig værker, indgå dialog om
        de kreative arbejdsprocesser, se de nyeste tendenser samt etablere forskellige
        typer af samarbejde.
      </p>
    </div>

    <Timeline />

    <div class="keyword-section">
      <div>
        <h3>Unika</h3>
        <img
          src="../img/unika-image.webp"
          alt="Billede af en skål lavet af kunstneren Lærke Laura"
        />
      </div>

      <div>
        <h3>Håndlavet</h3>
        <img
          src="../img/artists/helene-keinicke/helene-keinicke5.webp"
          alt="Billede af en illustration lavrt af kunstneren Helene Keinicke"
        />
      </div>

      <div>
        <h3>Fællesskab</h3>
        <img
          src="../img/artists/rosamunde/rosamunde14.webp"
          alt="Billede af kopper lavet af kunstneren Rosamunde"
        />
      </div>
    </div>
  </main>
</Mainlayout>

<style>
  span {
    font-size: 2rem;
  }

  .keyword-section {
    & img {
      aspect-ratio: 1 / 1;
      max-width: 400px;
    }
  }

  @media (min-width: 769px) {
    span {
      font-size: 3rem;
    }
  }
</style>
