---
import Mainlayout from "../layouts/Mainlayout.astro";
---

<Mainlayout>
  <main>
    <a href="meet_the_artists"><img class="arrow" src="/src/assets/img/arrow1.svg" alt="pil"></a>
    <!-- <template id="market_template"> -->
      <nav>
        <ul>
            <li><a href="artists_singleview">Top-level page</a></li>
            <li>Current Page</li>
        </ul>
      </nav>
      <h1>Sensommermarked</h1>
      <h5>Beskrivelse af sensommermarkedet 2024</h5>
    <!-- </template> -->
  <form action="">
  </form>
  <section class="artist_container">
    <template id="artist_template">
         <a href="">
             <article class="artist_article">
             <img class="artist_image" src="" alt="">
             <h2 class="artist_name"></h2>
            </article>
        </a>
      </template>
  </section>
</main>
</Mainlayout>

<style>
.arrow{
  max-width: 30px;
  }
</style>


<script>

</script>
