---
import Mainlayout from "../layouts/Mainlayout.astro";
---

<Mainlayout>
  <main>
<img class="arrow" src="" alt="">
    <nav>
        <ul>
            <li><a href="#">Top-level page</a></li>
            <li>Current Page</li>
        </ul>
    </nav>
    <h1></h1>
    <h5></h5>
    <form action=""></form>
    
  </main>
</Mainlayout>

<style></style>
