---
import Mainlayout from "../layouts/Mainlayout.astro";
import Accordion from "../components/Accordion.astro";
import Indsend_Button from "../components/Indsend_Button.astro";
import Billede_Upload from "../components/Billede_Upload.astro";
import { Image } from "astro:assets";
import Image1 from "../assets/img/become_artist/left_pic.webp";
import Image2 from "../assets/img/become_artist/middle_picture.webp";
import Image3 from "../assets/img/become_artist/right_pic.webp";
---

<Mainlayout>
  <main>
    <h1>Bliv udstiller</h1>

    <div class="top_grid">
      <div class="become_text">
        <p>
          Som udstiller oplever man en unik følelse af fællesskab blandt de
          andre kunsthåndværkere, der deler den samme passion og engagement for
          deres håndværk. Man får muligheden for at dele sin egen kreativitet
          med et nysgerrigt publikum, der gladeligt udforsker hvert eneste værk
          med interesse og beundring.
        </p>
        <p>
          Det er en dag fyldt med spænding og håb, hvor man som udstiller
          drømmer om at se sine værker finde nye hjem hos begejstrede købere.
          Men det handler ikke kun om salg; det handler også om at skabe
          forbindelser og dele glæden ved kunsthåndværk med andre ligesindede
          sjæle.
        </p>
        <p>
          Flid Marked er mere end bare et sted at sælge sine værker; det er en
          fejring af kreativitet, talent og dedikation til kunsthåndværkets ædle
          traditioner. Det er et sted, hvor kunst og håndværk forenes og skaber
          magi for både udstillere og besøgende.
        </p>
      </div>

      <div class="images triple_pic">
        <Image class="box-1" src={Image1} alt="Smiling lady at stand" />
        <Image
          class="box-2"
          src={Image2}
          alt="Glass eggs in different colors"
        />
        <Image class="box-3" src={Image3} alt="Customer and seller at stand" />
      </div>

      <div class="acco_artist">
        <h2>Q & A</h2>
        <Accordion title="Bordtyper & priser">
          <p>
            Priser for deltagelse - alle priser på deltagelse er eks. moms. <br
            /> Der er mulighed for at deltage én enkelt dag på Flid. <br />
            Priserne for én dags udstilling er:
          </p>
          <ul>
            <li>Almindeligt bord (180*90cm): 1.200kr</li>
            <li>Dobbeltbord (360*90cm): 2.200kr</li>
          </ul>
          <p>
            Skulle du i stedet ønske at deltage 2 dage, er priserne følgende:
          </p>
          <ul>
            <li>Almindeligt bord (180*90cm): 2.200kr</li>
            <li>Dobbeltbord (360*90cm): 3.600kr</li>
          </ul>
          <p></p>
        </Accordion>
        <Accordion title="I tilfælde af aflysning">
          <p>
            Skulle der ske en uforudsigelig forhindring, er det indtil en måned
            før afviklingen af Flid gratis at melde fra, da Flid derved har
            mulighed for at finde nye udstillere.
          </p>
          <p>
            Sker aflysningen indenfor 14-30 dage før eventen, opkræves halvdelen
            af deltagergebyret. Melder du fra mindre end 14 dage før opkræves
            hele beløbet.
          </p>
          <p>
            Tvinges vi af samfundshensyn til at aflyse grundet samfundshensyn,
            opkræves der naturligvis ikke deltagergebyr.
          </p>
        </Accordion>
        <Accordion title="Parkering og offentlig transport">
      <h5>Parkering</h5>
          <p>Nørrebro er en tæt befolket bydel, og parkering kan til tider være en udfordring. Der er dog flere parkeringsmuligheder i området:</p>
          <ul>
              <li><p><b>Gadeparkering:</b> Der findes betalingsparkering på mange af de omkringliggende gader. Vær opmærksom på parkeringsrestriktioner og zoner, da reglerne kan variere.</p></li>
<li><p><b>Offentlige parkeringspladser:</b> Der er nogle offentlige parkeringspladser i nærheden, såsom de parkeringshuse ved Nørrebro Bycenter og ved Nørrebro Station. Disse steder kan ofte tilbyde en mere sikker og bekvem parkeringsoplevelse, om end mod betaling.</p> </li>
<li><p><b>Parkerings-apps:</b> Brug af parkeringsapps som EasyPark eller ParkMan kan hjælpe med at finde tilgængelige parkeringspladser i området og lette betalingen.</p></li>
          </ul>
          <h5>Offentlig transport</h5>
          <p>Offentlig transport er en nem og praktisk måde at komme til Flid marked på. Nørrebro er godt forbundet med busser, metro og tog:</p>
          <ul>
            <li><p><b>Metro:</b> Nørrebro er betjent af Cityringen (M3), som stopper ved Nørrebro Station og Nuuks Plads. Begge stationer ligger i gåafstand til Flid marked.</p></li>
            <li><p><b>S-tog:</b> Nørrebro Station er også betjent af S-togslinjerne F og H, hvilket gør det nemt at komme dertil fra andre dele af byen og forstæderne.</p></li>
            <li><p><b>Bus:</b> Der kører mange buslinjer gennem Nørrebro, herunder linjerne 5C, 350S og 18, som alle stopper tæt på Flid marked. Disse busser tilbyder hyppige afgange og forbindelser til resten af København.</p></li>
            <li><p><b>Cykel:</b> København er en cykelvenlig by med mange cykelstier. Der er gode muligheder for at parkere sin cykel i nærheden af markedet.</p></li>
          </ul>
        </Accordion>
      </div>
    </div>

    <h2>Tilmeld dig her</h2>

    <form action="udstiller" name="bliv_udstiller" netlify>
      <div class="grid_1-2">
        <input type="text" placeholder="Brandnavn..." required="" />
        <input type="number" placeholder="CVR nummer..." required="" />

        <select name="primary" id="primary">
          <option value="primary">Primær kategori</option>
          <option value="ceramics">Keramik</option>
          <option value="textile">Tekstil</option>
          <option value="knit">Strik</option>
          <option value="upcycle">Upcycle</option>
          <option value="wood">Træ</option>
          <option value="metal">Metal</option>
          <option value="horn">Horn & ben</option>
          <option value="leather">Læder & skind</option>
          <option value="papir">Papir</option>
          <option value="metal2">Ædelmetal</option>
          <option value="glass">Glas</option>
          <option value="plast">Plast</option>
        </select>

        <select name="secondary" id="secondary">
          <option value="secondary">Sekundær kategori</option>
          <option value="ceramics">Keramik</option>
          <option value="textile">Tekstil</option>
          <option value="knit">Strik</option>
          <option value="upcycle">Upcycle</option>
          <option value="wood">Træ</option>
          <option value="metal">Metal</option>
          <option value="horn">Horn & ben</option>
          <option value="leather">Læder & skind</option>
          <option value="papir">Papir</option>
          <option value="metal2">Ædelmetal</option>
          <option value="glass">Glas</option>
          <option value="plast">Plast</option>
        </select>

        <textarea
          name="description"
          id="description"
          placeholder="Beskriv dit professionelle kreative virke (materialer, teknikker, inspirationskilder m.m.), der kan bruges af Flid i en kommunikationskontekst..."
        ></textarea>
        <Billede_Upload />

        <div class="links grid_1-2">
          <input type="url" placeholder="Link til hjemmeside..." required="" />
          <input type="url" placeholder="Link til Facebook..." required="" />
          <input type="url" placeholder="Link til Instagram..." required="" />
          <input type="url" placeholder="Link til Dropbox..." required="" />
        </div>
      </div>

      <div class="grid_2-3">
        <select name="type_bord" id="bord">
          <option value="bord">Type bord</option>
          <option value="almindelig1">
            1 dag - almindeligt bord (180*90 cm) 1.200kr</option
          >
          <option value="dobbel1"
            >1 dag - dobbelt bord (360*90 cm) 2.200kr</option
          >
          <option value="almindelig2"
            >2 dage - almindeligt bord (180*90 cm) 2.200kr
          </option>
          <option value="dobbel2"
            >2 dage - dobbelt bord (360*90 cm) 3.600kr</option
          >
        </select>
        <div class="textbox flex-col gap-s space-evenly">
          <textarea
            name="works"
            id="works"
            placeholder="Uddannelse og tidligere samarbejder..."></textarea>
          <textarea name="extra" id="extra" placeholder="Andet på hjertet?"
          ></textarea>
        </div>

        <div class="mini_form">
          <h2>Kontaktinformation</h2>
          <div class="kontaktinfo">
            <input type="text" placeholder="Navn..." required="" />
            <input type="text" placeholder="Efternavn..." required="" />
            <input
              class="big"
              type="text"
              placeholder="Adresse..."
              required=""
            />
            <input type="text" placeholder="By..." required="" />
            <input type="text" placeholder="Postnummer..." required="" />
            <input
              class="big"
              type="email"
              placeholder="Emailadresse..."
              required=""
            />
            <input
              class="big"
              type="tel"
              placeholder="Telefonnummer..."
              required=""
            />
          </div>
        </div>

        <div class="slut">
          <label class="container">
            <input type="checkbox" checked="checked" />
            <span class="checkmark"></span>
            <p>Jeg accepterer betingelserne</p>
          </label>
          <Indsend_Button />
        </div>
      </div>
    </form>
  </main>
</Mainlayout>

<style>
  .become_text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
  }
  .triple_pic {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 50px;
  }

  .triple_pic img {
    /* height: 100%; */
    object-fit: cover;
  }
  .box-1 {
    grid-row: 3 / 5;
    grid-column: 1 / 3;
    z-index: 1;
  }

  .box-2 {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    z-index: 2;
    max-width: 100%;
  }

  .box-3 {
    grid-row: 1 / 3;
    grid-column: 3 / 5;
  }

  .top_grid > * {
    padding-top: var(--spacing-small);
  }
  .top_grid {
    margin-bottom: var(--spacing-large);
  }

  .acco_artist h2 {
    text-align: right;
  }

  /**forms */

  input[type="text"],
  textarea,
  select,
  input[type="url"],  input[type="tel"],  input[type="email"],  input[type="number"] {
    background-color: var(--secondary-color-tint);
    font-size: 1.2rem;
    color: var(--text-color);
    border: none;
    /* gap: 10px; */
    width: 100%;
    padding: 10px;
    height: 85px;
  }

  textarea {
    border-radius: 10px;
  }

  .links {
    background-color: var(--secondary-color-tint2);
    padding: 15px;
  }
  input[type="url"] {
    background-color: var(--primary-color-tint2);
  }
  input[type="url"]::placeholder,   input[type="url"]  {
    color: var(--text-color-tint2);
  }

  .kontaktinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: var(--spacing-small);
  }

  .kontaktinfo input[type="text"],
  .kontaktinfo textarea {
    background-color: var(--secondary-color-tint3);
    color: var(--text-color);
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--text-color);
  }

  #description,
  #works,
  #extra {
    min-height: 149px;
  }

  .big {
    grid-column: 1 / 3;
  }

  form,
  .grid_1-2,
  .grid_2-3 {
    display: grid;
    gap: var(--spacing-small);
  }

  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid var(--text-color);
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    border: 1px solid var(--text-color);
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--text-color);
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--primary-color-tint);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  @media (min-width: 769px) {
    .become_text p {
      max-width: 535px;
    }
    .grid_1-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .grid_2-3 {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }

    .mini_form {
      margin-top: 100px;
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .textbox {
      grid-column: 2 / 4;
    }

    .top_grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    .images {
      grid-row: 1 / 3;
      grid-column: 1 / 4;
    }

    .become_text {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
    }

    .acco_artist {
      grid-row: 2/3;
      grid-column: 2 / 4;
      margin: 90px 0 0 60px;
    }
    #description {
      min-height: 237px;
    }
    #works,
    #extra {
      min-height: 286px;
    }

    .links {
      grid-column: 1 / 3;
    }

    .slut {
      grid-column: 2 / 3;
    }

    #bord {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }
</style>
