---
import Mainlayout from "../layouts/Mainlayout.astro";
import NyMarkedHover from "../components/NyMarkedHover.astro";
import ForsideAnimation from "../components/ForsideAnimation.astro";
import ForsideInfo from "../components/ForsideInfo.astro";
---

<Mainlayout
  title="Flids forside"
  description="Forside for Flid marked med oversigt over de forskellige typer markeder samt hvem Flid er"
>
  <main>
    <!-- <MarkedHover /> -->
    <NyMarkedHover />
    <ForsideAnimation />
    <ForsideInfo />
  </main>
</Mainlayout>

<style></style>
