---

import Mainlayout from "../layouts/Mainlayout.astro";
import NyMarkedHover from "../components/NyMarkedHover.astro";
import ForsideAnimation from "../components/ForsideAnimation.astro";
import ForsideInfo from "../components/ForsideInfo.astro";
---

<Mainlayout>
  <main>
    <!-- <MarkedHover /> -->
    <NyMarkedHover />
    <h1>Flid Marked</h1>
    <ForsideAnimation />
    <ForsideInfo />
  </main>
</Mainlayout>

<style></style>
