---
import Mainlayout from "../layouts/Mainlayout.astro";
---

<Mainlayout>
  <main>
    <h2>Udstillerne på næste marked</h2>
      <a href="artists_listview">
        <div class="sensommer_container">
        <img src="/src/assets/img/sensommermarked.webp" alt="sensommermarked">
          <div></div>
          <h5>Sensommermarked</h5>
        </div>
      </a>
    <h2>Udstillerne på forrige marked</h2>
    <article id="market_parent">
       <a href="artists_listview">
        <section class="market_child">
          <img src="/src/assets/img/marked1.webp" alt="">
          <div></div>
          <h6>Forårsmarked 2024</h6>  
        </section>
      </a> 
      <a href="artists_listview">
        <section class="market_child">
        <img src="/src/assets/img/marked2.webp" alt="">
         <div></div>
          <h6>Julemarked 2024</h6>
      </section>
      </a>
      <a href="artists_listview">
        <section class="market_child">
        <img src="/src/assets/img/marked3.webp" alt="">
        <div></div>
          <h6>Forårsmarked 2023</h6>
      </section> 
      </a>
    </article>  
  </main>
</Mainlayout>


<style>
.sensommer_container div{
  width: 100%;
  height: 40px;
  background-color:bisque;
  transform: translateY(-100%);
  opacity: 80%;
  position: relative;
  z-index: 0;
}


.sensommer_container h5{
  transform: translateY(-250%);
  display: flex;
  flex-direction: column;
  align-items:flex-end;
}

/* Generel styling */
#market_parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin: auto;
  gap: 5%;
}

.market_child {
  position: relative;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.market_child img {
  width: 100%;
  height: auto;
  display: none; /* Skjul billedet som standard */
  transition: transform 0.3s ease;
}

.market_child div {
  background-color: #281411;
  width: 100%;
  height: 50px;
  transition: all 0.3s ease;
  z-index: 1;
  position: relative;
}

.market_child h6 {
  position: relative;
  color: #FEF5EA;
  margin: 0;
  padding: 10px;
  transition: all 0.3s ease;
  z-index: 2;
}

/* Hover effekt */
.market_child:hover {
  width: auto;
}

.market_child:hover img {
  display: block; /* Vis billedet ved hover */
  transform: translateY(-50px); /* Juster som nødvendigt */
}

.market_child:hover div {
  height: auto; /* Juster højden efter indhold */
  background-color: transparent; /* Fjern baggrundsfarven */
  width: auto; /* Juster bredden efter indhold */
  z-index: 0;
}

/* .market_child:hover h6 {
  transform: translateY(-50px); /* Juster positionen som nødvendigt */
} */


</style>
