---
import Mainlayout from "../layouts/Mainlayout.astro";
import Footer from "../components/Footer.astro";
---

<Mainlayout>
  <main>
      <h2>Udstillerne på næste marked</h2>
      <img src="" alt="">
    <div>
      <h5></h5>
    </div>
      <h2>Udstillerne på forrige marked</h2>
    <article>
      <section>
        <img src="" alt="">
        <div>
          <h5>Forårsmarked 2024</h5>
        </div>
      </section>
      <section>
        <img src="" alt="">
        <div>
        <h5>Julemarked 2024</h5>
        </div>
      </section>
      <section>
        <img src="" alt="">
        <div>
          <h5>Forårsmarked 2023</h5>
        </div>
      </section>
    </article>  
  </main>
</Mainlayout>


<style>
  
</style>
