---
import Mainlayout from "../layouts/Mainlayout.astro";
---

<Mainlayout>
  <main>
<h2>Udstillerne på næste marked</h2>
<img src="" alt="">
<h5></h5>
<h2>Udstillerne på forrige marked</h2>
<article>
  <section>
    <img src="" alt="">
    <h5></h5>
  </section>
  <section>
    <img src="" alt="">
    <h5></h5>
  </section>
  <section>
    <img src="" alt="">
    <h5></h5>
  </section>
</article>  
</main>
</Mainlayout>

<style></style>
