---

---

<div class="img_upload">
    <!-- <input type="file" name="fileToUpload" id="fileToUpload" />
    <input type="submit" value="Upload Image" name="submit" /> -->
    <div class="upload-wrap">
      <label for="file" id="01">
        <div class="uploadpreview 01"></div>
      </label>
      <input id="01" type="file" accept="image/*">
    </div>
    
    <div class="upload-wrap">
      <div class="uploadpreview 02"></div>
      <input id="02" type="file" accept="image/*">
    </div>
    
    <div class="upload-wrap">
      <div class="uploadpreview 03"></div>
      <input id="03" type="file" accept="image/*">
    </div>
    
    <div class="upload-wrap">
      <div class="uploadpreview 04"></div>
      <input id="04" type="file" accept="image/*" autofocus >
    </div>
  </div>

  <style>
    .img_upload {
background-color: #f3d6d1;
}
.uploadpreview{
  width:100px;
  height:100px;
  display:block;
 background-color: var(--primary-color-tint);
  margin:0 auto 15px;
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position:center;
}

.upload-wrap{
  float:left;
  width:200px;
}

input[type="file"] {
    color: transparent;
    width: 120px;
    margin: 0 auto;
    display: block;
}
  </style>

<script>
    $('.upload-wrap input[type=file]').change(function(){
      var id = $(this).attr("id");
      var newimage = new FileReader();
      newimage.readAsDataURL(this.files[0]);
      newimage.onload = function(e){
        $('.uploadpreview.' + id ).css('background-image', 'url(' + e.target.result + ')' );
      }
    });
  </script>