---

---

<div class="img_upload">
    <div>
      <label class="picture" for="picture__input_1" tabIndex="0">
        <span class="picture__image">Choose an image</span>
      </label>
      <input type="file" name="picture__input" id="picture__input_1">
    </div>
    
    <div>
      <label class="picture" for="picture__input_2" tabIndex="0">
        <span class="picture__image">Choose an image</span>
      </label>
      <input type="file" name="picture__input" id="picture__input_2">
    </div>
  
    <div>
      <label class="picture" for="picture__input_3" tabIndex="0">
        <span class="picture__image">Choose an image</span>
      </label>
      <input type="file" name="picture__input" id="picture__input_3">
    </div>
  
    <div>
      <label class="picture" for="picture__input_4" tabIndex="0">
        <span class="picture__image">Choose an image</span>
      </label>
      <input type="file" name="picture__input" id="picture__input_4">
    </div>
  
    <div>
      <label class="picture" for="picture__input_5" tabIndex="0">
        <span class="picture__image">Choose an image</span>
      </label>
      <input type="file" name="picture__input" id="picture__input_5">
    </div>
  
    <div>
      <label class="picture" for="picture__input_6" tabIndex="0">
        <span class="picture__image">Choose an image</span>
      </label>
      <input type="file" name="picture__input" id="picture__input_6">
    </div>
  </div>
  

  <style>
    .img_upload {
background-color: #f3d6d1;
display: flex;
flex-wrap: wrap;
gap: var(--spacing-small) ;
}
#picture__input, #picture__input_1, #picture__input_2,#picture__input_3, #picture__input_4, #picture__input_5, #picture__input_6 {
  display: none;
}

.picture {
  width: 100px;
  height: 100px;
  aspect-ratio: 16/9;
  background: var(--primary-color-tint);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  /* border: 2px dashed currentcolor; */
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
  margin: 5px;
}

.picture:hover {
  color: #777;
  background: #ccc;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: #777;
  background: #ccc;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}

.picture__img {
  max-width: 100%;
}

  </style>

<script>

document.querySelectorAll("input[type='file']").forEach(inputFile => {
  inputFile.addEventListener("change", function (e) {
    const inputTarget = e.target;
    const file = inputTarget.files[0];
    const pictureImage = inputTarget.previousElementSibling.querySelector(".picture__image");

    if (file) {
      const reader = new FileReader();

      reader.addEventListener("load", function (e) {
        const readerTarget = e.target;

        const img = document.createElement("img");
        img.src = readerTarget.result;
        img.classList.add("picture__img");

        pictureImage.innerHTML = "";
        pictureImage.appendChild(img);
      });

      reader.readAsDataURL(file);
    } else {
      pictureImage.innerHTML = "Choose an image";
    }
  });
});



  </script>