---
import Logo from "./Logo.astro";
---

<menu class="menuparent">
  <li><Logo /></li>
  <li class="menupunkt">
    <a href="/meet-the-artists"><h3>Mød udstillerne</h3></a>
  </li>
  <li class="menupunkt"><a href="/about-us"> <h3>Om os</h3> </a></li>
  <li class="menupunkt">
    <a href="/become-artist"> <h3>Bliv udstiller</h3></a>
  </li>
  <li class="menupunkt">
    <a href="/project-gallery"> <h3>Projektgalleri</h3></a>
  </li>
</menu>
<div class="hamburger">
  <span class="burgerbar"></span>
  <span class="burgerbar"></span>
  <span class="burgerbar"></span>
</div>

<style>
  .hamburger.active .burgerbar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .burgerbar:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
  }
  .hamburger.active .burgerbar:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
  }

  .burgerbar {
    display: block;
    width: 40px;
    height: 3px;
    margin: 7px 0;
    background-color: var(--text-color);
    border-radius: 3px;
    position: relative;
    z-index: 50;
    transition: all 0.3s ease-in-out;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: end;
    & :nth-child(2) {
      width: 35px;
    }
  }

  .menuparent.active {
    top: 4%;
    right: 0;
    opacity: 100%;
    height: 100%;
    width: 100%;
    z-index: 50;
    gap: 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 100%;
    transition: 0.3s;
  }

  .menuparent {
    display: none;
    right: 0;
    position: absolute;
    height: 0;
    width: 0;
    list-style: none;
    background-color: var(--primary-color);
    text-align: center;
    gap: 0;
  }
  .menupunkt h3:hover {
    text-transform: uppercase;
  }
  .menupunkt h3 {
    text-decoration: none;
    list-style: none;
    /* padding-right: 4%; */
  }

  /* @media (max-width: 800px) {
  h1 {
    max-width: min-content;
  }
} */
</style>

<script>
  const hamburger = document.querySelector(".hamburger");
  const menu = document.querySelector(".menuparent");

  hamburger.addEventListener("click", () => {
    hamburger.classList.toggle("active");
    menu.classList.toggle("active");
  });
</script>
