---
import "swiper/css/bundle";
const { images, alt } = Astro.props;
---

<div class="swiper">
  <div class="swiper-wrapper">
    {
      images.map((img, i) => (
        <div class="swiper-slide">
          <img src={img} alt={`${alt} ${i + 1}`} />
          {img}
        </div>
      ))
    }
  </div>
  <div class="swiper-pagination"></div>
</div>

<style>
  .swiper {
    background-color: var(--primary-color-shade);
    width: 100%;
    height: 200px;
    padding: var(--spacing-small);
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<script>
  import Swiper from "swiper/bundle";

  const swiper = new Swiper(".swiper", {
    slidesPerView: 3,
    spaceBetween: 24,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
