---
import Dark_Button from "./Dark_Button.astro";
import Light_Button from "./Light_Button.astro";
---



<button id="darkToggle" onclick="myFunction()">
<Dark_Button></Dark_Button>
<!-- <Light_Button></Light_Button> -->
</button>

<style>
 #darkToggle {
    border: none;
    background: none;
  }
</style>


<script>
    function myFunction() {
       var element = document.body;
       element.classList.toggle("dark-mode");
    }
</script>