---

---

<article>
    <section class="footer_columns">
        <div>
            <h6></h6>
            <p></p> 
        </div>
        <div>
            <h6></h6>
            <p></p>
        </div>
    </section>
</article>
<article>
    <section class="footer_columns"> 
        <button></button>
        <div class="some"></div>
    </section>
</article>
<article>
    <section class="footer_columns">
      <nav>
         <ul>
            <li>Mød udstillerne</li>
            <li>Om os</li>
            <li>Bliv udstiller</li>
            <li>Projektgalleri</li>
        </ul>
      </nav>
    </section>
</article>