---
import "../styles/main.css";
import "../styles/style.css";
import "../styles/pc-style.css";
import { Image } from "astro:assets";
import imageForside from "../assets/img/forside-stemning.webp";
---
<section id="Container">

<div id="text" data-aos="fade-left"
data-aos-offset="300"
data-aos-duration="1300"
data-aos-easing="ease-in-sine">
<h2>Design</h2>
<h2>Kunst</h2>
<h2>Håndværk</h2>
</div>
<Image src={imageForside} alt="Billede af en håndlavet kop" />
</section>

<style>
#text{
    position: absolute;
    left: 78%;
    bottom: 25%;
    line-height: 110px;
}
img{
    padding: 50px 100px 50px 0px;
}
h2{
    font-size: 4rem;
    font-weight: 500;
}
    @media (max-width: 769px) {
        img{
    padding: 10px;
    transform: scaleX(-1);
}
#text{
    position: absolute;
    left: 10%;
    bottom: 75%;
    line-height: 50px;
    z-index: 10;
}
h2{
    font-size: 2rem;
    font-weight: 500;
}
}

</style>
<script>
    window.addEventListener("load", onHover);

    function onHover(){
document.querySelector("#container").addEventListener("mouseover", hoverEffekt)
    }
    function hoverEffekt(){
        document.querySelector("#text").classList.add("red")
    }
</script>