---
---

<h3>Deltag i vores Sensommermarked</h3>
<p>Flid fylder 10 år, og af den årsag vil vi gerne invitere til Sensommermarked!
    Flid fylder 10 år, og af den årsag vil vi gerne invitere til Sensommermarked!
     Flid fylder 10 år, og af den årsag vil vi gerne invitere til Sensommermarked!
      Flid fylder 10 år, og af den årsag vil vi gerne invitere til Sensommermarked!
       Flid fylder 10 år, og af den årsag vil vi gerne invitere til Sensommermarked!</p>
       <h4>Vores næste markede: Sensommermarked</h4>
       <div id="Tabel">
        <div><h3>Dato:</h3><h3>21 Juni 2024</h3></div>
        <div><h3>Tidspunkt</h3><h3>Kl. 10:00 - 16:00</h3></div>
        <div><h3>Lokation:</h3><h3>Nørrebro Hallen</h3></div>
        <div><h3>Entrépris</h3><h3>40 kr.</h3></div>
       </div>
       <img src="/img/flid-posters/efteraarsmarked21.webp" alt="poster">

       <style></style>