---
---

<div class="text">
<h2>Design</h2>
<h2>Kunst</h2>
<h2>Håndværk</h2>
</div>
<img src="/img/kopcrop.jpg" alt="kop">

<style>
.text{
    position: absolute;
    left: 70%;
    bottom: 50%;
}
</style>
