---
import "../styles/main.css";
import "../styles/style.css";
import "../styles/pc-style.css";
---
<button>
    Julemarked
</button>
<button>
    Sensommermarked
</button>
<button>
    Forårsmarked
</button>

<style>
    button{
        height: 100px;
        width: 120px;
    }
</style>