---
import "../styles/main.css";
import "../styles/style.css";
import "../styles/pc-style.css";
---
<div class="mini_form">
    <h2>Kontaktinformation</h2>
    <div class="kontaktinfo">
        <div class="rows">
      <input type="text" placeholder="Besøgende" required="" />
      <button>Tilmeld</button></div>
      <div class="rows">
      <input type="text" placeholder="Udstiller" required="" />
      <button>Tilmeld</button></div>
      <div/>
      <div/>

<style>
.kontaktinfo{
    background-color: aqua;
    padding: 2px;
}
.rows{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 10px;
    gap: 10px;
}
input{
    height: 60px;
width: 320px;}
button{
    height: 60px;
    width: auto;
}
</style>