---

---

<div class="mini_form">
  <h5>Hold dig opdateret med vores nyhedsbrev:</h5>
  <form class="kontaktinfo" data-netlify="true">
    <div class="rows">
      <input type="text" placeholder="Besøgende" required="" />
      <button type="submit">Tilmeld</button>
    </div>
      <div class="rows">
      <input type="text" placeholder="Udstiller" required="" />
      <button type="submit">Tilmeld</button>
    </div>
      </form>
</div>

  <style>
    .kontaktinfo {
      background-color: var(--secondary-color-tint2);
      padding: 2px;
      max-width: 340px;
      margin: 0 auto;
    }
    .rows {
      display: grid;
      grid-template-columns: 2fr 1fr;
      padding: 10px;
      gap: 10px;
    }
    input {
      height: 60px;
      width: 200px;
      background-color: var(--primary-color-tint3);
      border: none;
      font-size: larger;
    }
    input::placeholder {
      color: var(--text-color);
      padding-left: 10px;
    }
    button {
      height: 60px;
      width: auto;
      background-color: var(--primary-color-tint3);
      border: none;
      font-size: larger;
    }
    button:hover {
      background-color: var(--secondary-color);
      cursor: pointer;
    }

    @media (min-width: 769px) {
      .kontaktinfo {
        max-width: 565px;
      }
      input {
        height: 60px;
        width: 370px;
      }
      button {
        height: 60px;
        width: auto;
      }
    }
  </style>
</div>
