---
import "../styles/main.css";
import "../styles/style.css";
import "../styles/pc-style.css";
import { Image } from "astro:assets";
---
<section>
    
    <div class="card" id="julemarked"><h1>Julemarked</h1></div>
    <div class="card" id="sensommermarked"><h1>Sensommermarked</h1></div>
    <div class="card" id="foraarsmarked"><h1>Forårsmarked</h1></div>
    <div class="markedknap-container">
    </div>
</section>

<template class="markedknap-template">
    <article class="markedknap_article">
        <a>
            <div class="marked_div markedeknap">
                <p class="marked_text"></p>
            </div>
        </a>
    </article>
</template>

<style>
    .markedeknap{
        height: 300px;
width: 300px;
background-color: aqua;
    }
    section{
        display: flex;
        flex-direction: row;
        gap: 32px;
    }
    .card{
        height: 534px;
        width: 341px;
    }
    h1{
        font-size: 2.3rem;
        color: white;
    }
    #julemarked{
        background-color: #E7B7B8;
    }
    #sensommermarked{
        background-color: #D68893;
    }
    #foraarsmarked{
        background-color: #C55A6D;
    }
    #julemarked:hover{
        background-image: url("../assets/img/flid-posters/julemarked23.webp");
        background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
    }
    #sensommermarked:hover{
        background-image: url("../assets/img/flid-posters/efteraarsmarked21.webp");
        background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
    }
    #foraarsmarked:hover{
        background-image: url("../assets/img/flid-posters/foraarsmarked23.webp");
        background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
    }
</style>
<script>
    window.addEventListener("DOMContentLoaded", init);

const itemURL = "https://dvtoiextyxkictfnquyo.supabase.co";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR2dG9pZXh0eXhraWN0Zm5xdXlvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUxNjEzMzQsImV4cCI6MjAzMDczNzMzNH0.OHxi8VUkxXZaCDHCvU9EJD4CMxx3Os6TYHI5hhCIiLM"

let itemTemplate;
let itemContainer;

function init() {
  console.log("init");

  itemTemplate = document.querySelector(".markedknap-template");
  console.log("itemTemplate", itemTemplate);

  itemContainer = document.querySelector(".markedknap-container");
  console.log("itemContainer", itemContainer);

  fetch(itemURL+"/rest/v1/markets?select=*",{
    method:"GET",
    headers:{
        apikey: key
    }
  })
    .then(res=>res.json())
    .then(showData)
}
    
    function showData(items){
        console.log(items)
    
  // Til her
    
  let itemClone;

items.forEach((item) => {
  console.log("item", item);
  itemClone = itemTemplate.cloneNode(true).content;
  itemClone.querySelector(
    "a"
  ).href = `marked-singleview.astro?marked=${item.name}`;

  itemClone.querySelector(".marked_text").textContent = item.name;

  itemContainer.appendChild(itemClone);
});
}

</script>