---
import { Image } from "astro:assets";
import julemarked from "../assets/img/flid-posters/julemarked23.webp";
import sensommermarked from "../assets/img/flid-posters/sensommermarked21.webp";
import foraarsmarked from "../assets/img/flid-posters/foraarsmarked23.webp";
---

<section class="flex-col flex-center">
  <div id="grid">
  <h1 class="mobiltext pc-hide">Julemarked</h1>
  <a href="/type/3">
    <div class="card">
        <div class="overlay-div-jul">
          <h1 class="display">Julemarked</h1>
        </div>
        <div class="end">
        <h1 class="end read-more display">Læs mere</h1>
          <Image src={julemarked} alt="julemarked plakat" class="plakat"></Image></div>
    </div>
  </a>
  <h1 class="mobiltext pc-hide">Sensommermarked</h1>
  <a href="/type/2">
    <div class="card">
        <div class="overlay-div-sensommer">
          <h1 class="display">Sensommermarked</h1>
        </div>
<div class="end">
        <h1 class="end read-more display">Læs mere</h1>
          <Image src={sensommermarked} alt="sensommermarked plakat" class="plakat"></Image></div>
    </div>
  </a>
  <h1 class="mobiltext pc-hide">Forårsmarked</h1>
  <a href="/type/1">
    <div class="card">
        <div class="overlay-div-foraar"> 
          <h1 class="display">Forårsmarked</h1>
        </div>
        <div class="end">
      <h1 class="end read-more display">Læs mere</h1> 
        <Image src={foraarsmarked} alt="foraarsmarked plakat" class="plakat"></Image>
      </div>
    </div></a>
  </div>
  <div class="markedknap-container"></div>
</section>
<style>
  .card{
    height: 150px;
    width: 400px;
  }
  .plakat{
    height: 150px;
    width: 400px;
  }
  .pc-hide{
    display: none;
  }
  @media (min-width: 769px) {
  section{
  margin-top: 20px;
  }
  #grid{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr
  }
  h1{
    font-size: 2.5rem;
    color: #ffffff;
  }
  .card{
    height: 570px;
    width: 430px;
  }
  .read-more{
position: absolute;
color: var(--primary-color-tint);
font-size: 2rem;
background-color:#f5bdbd9e;
width: 100%;
  }
  .end{
    display: flex;
justify-content: end;
position: absolute;
z-index: 10;
  }
  .plakat{
    height: 570px;
    width: 430px;
  }
  .overlay-div-jul{
    position: absolute;
    background-color: #C55A6D;
    height: 570px;
    width: 430px;
    z-index: 11;
    opacity: 0.95;
    transition: 0.1s;
  }
  .overlay-div-jul:hover{
    opacity: 0;
    z-index: 11;
  }
  .overlay-div-sensommer{
    position: absolute;
    background-color:#D68893;
    height: 570px;
    width: 430px;
    z-index: 11;
    opacity: 0.95;
    transition: 0.1s;
  }
  .overlay-div-sensommer:hover{
    opacity: 0;
    z-index: 11;
  }
  .overlay-div-foraar{
    position: absolute;
    background-color:  #E7B7B8;
    height: 570px;
    width: 430px;
    z-index: 11;
    opacity: 0.95;
    transition: 0.1s;
  }
  .overlay-div-foraar:hover{
    opacity: 0;
    z-index: 11;
  }
}
</style>