---
import { Image } from "astro:assets";
---

<section>
  <h1 class="mobiltext pc-hide">Julemarked</h1>
  <a href="/type/3"
    ><div class="card" id="julemarked">
      <h1 class="display">Julemarked</h1><h1 class="read-more display">
        Læs mere
      </h1>
    </div></a
  >
  <h1 class="mobiltext pc-hide">Sensommermarked</h1>
  <a href="/type/2"
    ><div class="card" id="sensommermarked">
      <h1 class="display">Sensommermarked</h1><h1 class="read-more display">
        Læs mere
      </h1>
    </div></a
  >
  <h1 class="mobiltext pc-hide">Forårsmarked</h1>
  <a href="/type/1"
    ><div class="card" id="foraarsmarked">
      <h1 class="display">Forårsmarked</h1><h1 class="read-more display">
        Læs mere
      </h1>
    </div></a
  >
  <div class="markedknap-container"></div>
</section>

<!-- <template class="markedknap-template">
    <article class="markedknap_article">
        <a>
            <div class="marked_div markedeknap">
                <p class="marked_text"></p>
            </div>
        </a>
    </article>
</template> -->

<style>
  .display {
    display: none;
  }

  .mobiltext {
    margin-bottom: 0;
    font-size: 2rem;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 50px;
  }

  #julemarked {
    background-image: url("../assets/img/flid-posters/julemarked23.webp");
    height: 315px;
    background-position: center;
  }

  #sensommermarked {
    background-image: url("../assets/img/flid-posters/sensommermarked21.webp");
    height: 315px;
    background-position: center;
  }
  #foraarsmarked {
    background-image: url("../assets/img/flid-posters/foraarsmarked23.webp");
    height: 315px;
    background-position: center;
  }

  @media (min-width: 769px) {
    .display {
      display: block;
    }
    section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0px;
      width: 100%;
    }
    .card {
      margin: 0px 0px 0px 0px;
      height: 554px;
    }
    h1 {
      font-size: 1.6rem;
      color: white;
      padding-left: 5px;
    }
    #julemarked {
      background-image: none;
      background-color: #c55a6d;
      height: 404px;
      width: 40vh;
    }
    #sensommermarked {
      background-image: none;
      background-color: #d68893;
      height: 404px;
      width: 40vh;
    }
    #foraarsmarked {
      background-image: none;
      background-color: #e7b7b8;
      height: 404px;
      width: 40vh;
    }
    .read-more {
      display: none;
    }
    #julemarked:hover {
      background-image: url("../assets/img/flid-posters/julemarked23.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: 1s;
      & h1 {
        display: none;
      }
      & .read-more {
        display: flex;
        font-size: 1.5rem;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
    #sensommermarked:hover {
      background-image: url("../assets/img/flid-posters/sensommermarked21.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: 1s;
      & h1 {
        display: none;
      }
      & .read-more {
        display: flex;
        color: #351e1a;
        font-size: 1.5rem;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
    #foraarsmarked:hover {
      background-image: url("../assets/img/flid-posters/foraarsmarked23.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: 1s;
      & h1 {
        display: none;
      }
      & .read-more {
        display: flex;
        font-size: 1.5rem;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }

  @media (min-width: 1024px) {
    .display {
      display: block;
    }
    section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0px;
      width: 100%;
    }
    .card {
      margin: 0px 0px 0px 0px;
      height: 554px;
    }
    h1 {
      font-size: 2.3rem;
      color: white;
      padding-left: 5px;
    }
    #julemarked {
      background-image: none;
      background-color: #c55a6d;
      height: 574px;
      width: 65vh;
    }
    #sensommermarked {
      background-image: none;
      background-color: #d68893;
      height: 574px;
      width: 65vh;
    }
    #foraarsmarked {
      background-image: none;
      background-color: #e7b7b8;
      height: 574px;
      width: 65vh;
    }
    .read-more {
      display: none;
    }
    #julemarked:hover {
      background-image: url("../assets/img/flid-posters/julemarked23.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: 1s;
      & h1 {
        display: none;
      }
      & .read-more {
        display: flex;
        font-size: 1.5rem;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
    #sensommermarked:hover {
      background-image: url("../assets/img/flid-posters/sensommermarked21.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: 1s;
      & h1 {
        display: none;
      }
      & .read-more {
        display: flex;
        color: #351e1a;
        font-size: 1.5rem;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
    #foraarsmarked:hover {
      background-image: url("../assets/img/flid-posters/foraarsmarked23.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: 1s;
      & h1 {
        display: none;
      }
      & .read-more {
        display: flex;
        font-size: 1.5rem;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }
</style>

<!-- <script>
    window.addEventListener("DOMContentLoaded", init);

const itemURL = "https://dvtoiextyxkictfnquyo.supabase.co";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR2dG9pZXh0eXhraWN0Zm5xdXlvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUxNjEzMzQsImV4cCI6MjAzMDczNzMzNH0.OHxi8VUkxXZaCDHCvU9EJD4CMxx3Os6TYHI5hhCIiLM"

let itemTemplate;
let itemContainer;

function init() {
  console.log("init");

  itemTemplate = document.querySelector(".markedknap-template");
  console.log("itemTemplate", itemTemplate);

  itemContainer = document.querySelector(".markedknap-container");
  console.log("itemContainer", itemContainer);

  fetch(itemURL+"/rest/v1/market_type?select=*",{
    method:"GET",
    headers:{
        apikey: key
    }
  })
    .then(res=>res.json())
    .then(showData)
}
    
    function showData(items){
        console.log(items)
    
  // Til her
    
  let itemClone;

items.forEach((item) => {
  console.log("item", item);
  itemClone = itemTemplate.cloneNode(true).content;
  itemClone.querySelector(
    "a"
  ).href = `[id].astro?market_type=${item.type}`;

  itemClone.querySelector(".marked_text").textContent = item.type;

  itemContainer.appendChild(itemClone);
});
}

</script> -->
