---
import "../styles/main.css";
import "../styles/style.css";
import "../styles/pc-style.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const { title } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>

    <link rel="icon" type="image/svg+xml" href="/flid_svg_ny.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.typekit.net/tfg6rzj.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2"
      async
      defer></script>
  </head>
  <body>
    <Header />
    <div class="fixed-button">
      <add-to-calendar-button
        name="Sensommermarked 2024"
        description="Flids sensommermarked "
        startDate="2024-09-07"
        startTime="11:00"
        endDate="2024-09-08"
        endTime="17:00"
        timeZone="Europe/Copenhagen"
        location="Nørrebrohallen, Nørrebrogade 208 2200 København N"
        options="'Apple','Google','Outlook.com','MicrosoftTeams'"
        listStyle="dropup-static"
        buttonStyle="date"
        hideTextLabelList
        size="5"
        lightMode="bodyScheme"></add-to-calendar-button>
    </div>
    <slot />
    <Footer />
  </body>

  <script>
    import AOS from "aos";
    import "aos/dist/aos.css";
    AOS.init();
  </script>

  <script type="module">
    const observer = new IntersectionObserver((entries) => {
      for (const entry of entries) {
        if (!entry.isIntersecting) continue;
        observer.disconnect();
        import(
          "../../node_modules/add-to-calendar-button/dist/module/index.js"
        );
      }
    });
    const instances = document.querySelectorAll("add-to-calendar-button");
    for (const instance of instances) observer.observe(instance);
  </script>
</html>
